<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
      <add name="CNXSTRING"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=.\DESKTOP-BM0DBOF;
                           Initial Catalog=BD_MegaCable;
                           Integrated Security=True"/>
    </connectionStrings>

  <appSettings>
    <!--lista de SP a Utilizar de la base de datos -->
    
    
    <!--Sp de tabla de Estados -->
    <add key ="listar_Estados" value="SP_Estados_Listar"/>
    <add key ="Filtrar_Estados" value="SP_Estados_Filtrar"/>
    <add key ="Actualizar_Estados" value="SP_Estados_Actulizar"/>
    <add key ="Insertar_Estados" value="SP_Estados_Insertar"/>

    <!--Sp de tabla de Departamento -->
    <add key ="listar_Departamento" value="sp_Listar_T_Departamento"/>
    <add key ="Filtrar_Departamento_descrip" value="sp_Filtrar_T_Departamento"/>
    <add key ="Actualizar_Departamento" value=""/>
    <add key ="Insertar_Departamento" value="sp.Insertar.T_Departamento"/>


    <!--Sp de tabla de Tipo Region -->
    <add key ="listar_Region" value="sp_Listar_T_Region"/>
    <add key ="Filtrar_Region_descrip" value="sp_Filtrar_T_Region_Des"/>
    <add key ="Actualizar_Region" value=""/>
    <add key ="Insertar_Region" value="sp.Insertar.T_Region"/>
    
    <!--Sp de tabla de Tipo Persona -->
    <add key ="listar_Tipo_Persona" value="sp_Listar_T_Tipo_Persona"/>
    <add key ="Filtrar_Tipo_Persona_descrip" value="sp_Filtar_T_Tipo_Persona_Descri"/>
    <add key ="Actualizar_Tipo_Persona" value=""/>
    <add key ="Insertar_Tipo_Persona" value="sp.Insertar.T_Tipo_Persona"/>

    <!--Sp de tabla de Persona -->
    <add key ="listar_Personar" value="sp_Listar_T_Persona"/>
    <add key ="Filtrar_Persona_cedula" value="sp_Filtrar_T_Persona_Cedula"/>
    <add key ="Actualizar_Persona" value=""/>
    <add key ="Insertar_Persona" value="sp.Insertar.T_Persona"/>

    <!--Sp de tabla de Perfil -->
    <add key ="listar_Perfil" value="sp_Listar_T_Perfil"/>
    <add key ="Filtrar_Perfil_descrip" value="sp_Filtrar_T_Perfil"/>
    <add key ="Actualizar_Perfil" value=""/>
    <add key ="Insertar_Perfil" value="sp.Insertar.T_Perfil"/>

    <!--Sp de tabla de Usuario -->
    <add key ="listar_Usuario" value="sp_Listar_T_Usuario"/>
    <add key ="Filtrar_Usuario_Usuario" value="sp_Filtar_T_Usuario_Usuario"/>
    <add key ="Actualizar_Usuario" value=""/>
    <add key ="Insertar_Usuario" value="sp.Insertar.T_Usuario"/>

    <!--Sp de tabla de Usuario x Perfil -->
    <add key ="listar_UsuarioPerfil" value="sp_Listar_T_UsuarioPerfil"/>
    <add key ="Filtrar_UsuarioPerfil" value="sp_Filtar_T_UsuarioPerfil"/>
    <add key ="Actualizar_UsuarioPerfil" value=""/>
    <add key ="Insertar_UsuarioPerfil" value="sp.Insertar.T_UsuarioPerfil"/>
    
    <!--Sp de tabla de Tarifa -->
    <add key ="listar_Tarifa" value="sp_Listar_T_Tarifa"/>
    <add key ="Filtrar_Tarifa_descrip" value="sp_Filtrar_T_Tarifa_descri"/>
    <add key ="Actualizar_Tarifa" value=""/>
    <add key ="Insertar_Tarifa" value="sp.Insertar.T_Tarifa"/>
    
    <!--Sp de tabla de Modalidad Pago -->
    <add key ="listar_ModalidadPago" value="sp_Listar_ModalidadPago"/>
    <add key ="Filtrar_ModalidadPago_descrip" value="sp_filtrar_ModalidadPago"/>
    <add key ="Actualizar_ModalidadPago" value=""/>
    <add key ="Insertar_ModalidadPago" value="sp.Insertar.T_ModalidadPago"/>


    <!--Sp de tabla de Suscripciones -->
    <add key ="listar_Suscripciones" value="sp_Listar_T_Suscripciones"/>
    <add key ="Filtrar_Suscripciones" value="sp_Filtrar_T_Suscripciones"/>
    <add key ="Actualizar_Suscripciones" value=""/>
    <add key ="Insertar_Suscripciones" value="sp.Insertar.T_Suscripciones"/>

    <!--Sp de tabla de Cobro -->
    <add key ="listar_Cobro" value="sp_Listar_T_Suscripciones"/>
    <add key ="Filtrar_Cobro" value="sp_Filtrar_T_Cobro"/>
    <add key ="Actualizar_Cobro" value=""/>
    <add key ="Insertar_Cobro" value="sp_Listar_T_Cobro"/>
    
  
  </appSettings>
  
</configuration>